routing:
  pim:
    # anycast_rp_local_interface_type: loopback
    # anycast_rp_local_interface_id: "250"
    # anycast_rp_source_interface_type: loopback
    # anycast_rp_source_interface_id: "250"
    rps:
        - address: 10.250.250.1
        - address: 10.250.250.2