feature:
  bfd: true
  bgp: true
  evpn: true
  fabric_forwarding: true
  nv_overlay: true
  interface_vlan: true
  vn_segment_vlan_based: true
  ospf: true
  pim: true
  udld: true
  vpc: true
  lacp: true
  lldp: true
